<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/:love</key>
	<string>96</string>
	<key>/:sayok</key>
	<string>95</string>
	<key>/:sayno</key>
	<string>94</string>
	<key>/:aini</key>
	<string>93</string>
	<key>/:chajin</key>
	<string>92</string>
	<key>/:quantou</key>
	<string>91</string>
	<key>/:cajole</key>
	<string>90</string>
	<key>/:baoquan</key>
	<string>89</string>
	<key>/:shl</key>
	<string>88</string>
	<key>/:share</key>
	<string>87</string>
	<key>/;weak</key>
	<string>86</string>
	<key>/:strong</key>
	<string>85</string>
	<key>/:hug</key>
	<string>84</string>
	<key>/;gift</key>
	<string>83</string>
	<key>/:sun</key>
	<string>82</string>
	<key>/:moon</key>
	<string>81</string>
	<key>/:oh</key>
	<string>80</string>
	<key>/:shit</key>
	<string>79</string>
	<key>/:piaocon</key>
	<string>78</string>
	<key>/:footb</key>
	<string>77</string>
	<key>/:dao</key>
	<string>76</string>
	<key>/:bomb</key>
	<string>75</string>
	<key>/:shd</key>
	<string>74</string>
	<key>/:cake</key>
	<string>73</string>
	<key>/:break</key>
	<string>72</string>
	<key>/:heart</key>
	<string>71</string>
	<key>/:kiss</key>
	<string>70</string>
	<key>/:fade</key>
	<string>69</string>
	<key>/:rose</key>
	<string>68</string>
	<key>/:pig</key>
	<string>67</string>
	<key>/:eat</key>
	<string>66</string>
	<key>/:coffee</key>
	<string>65</string>
	<key>/:jump</key>
	<string>64</string>
	<key>/:pingpong</key>
	<string>63</string>
	<key>/:basketball</key>
	<string>62</string>
	<key>/:bj</key>
	<string>61</string>
	<key>/:xig</key>
	<string>60</string>
	<key>/:caidao</key>
	<string>59</string>
	<key>/:kelin</key>
	<string>58</string>
	<key>/:xiaren</key>
	<string>57</string>
	<key>/:qinqin</key>
	<string>56</string>
	<key>/:yinxian</key>
	<string>55</string>
	<key>/:kcry</key>
	<string>54</string>
	<key>/:chagrin</key>
	<string>53</string>
	<key>/:snooty</key>
	<string>52</string>
	<key>/:yawn</key>
	<string>51</string>
	<key>/:rhenhen</key>
	<string>50</string>
	<key>/:lhenhen</key>
	<string>49</string>
	<key>/:shake</key>
	<string>48</string>
	<key>/:huaixiao</key>
	<string>47</string>
	<key>/:cdale</key>
	<string>46</string>
	<key>/:applause</key>
	<string>45</string>
	<key>/:knose</key>
	<string>44</string>
	<key>/:csweat</key>
	<string>43</string>
	<key>/:bye</key>
	<string>42</string>
	<key>/:xx</key>
	<string>41</string>
	<key>/!!!</key>
	<string>40</string>
	<key>/;!</key>
	<string>39</string>
	<key>/:8</key>
	<string>38</string>
	<key>/;@</key>
	<string>37</string>
	<key>/;x</key>
	<string>36</string>
	<key>/;?</key>
	<string>35</string>
	<key>/:-S</key>
	<string>34</string>
	<key>/;fd</key>
	<string>33</string>
	<key>/:fw</key>
	<string>32</string>
	<key>/;bin</key>
	<string>31</string>
	<key>/:&gt;</key>
	<string>30</string>
	<key>/:L</key>
	<string>29</string>
	<key>/:!</key>
	<string>28</string>
	<key>/|-)</key>
	<string>27</string>
	<key>/:g</key>
	<string>26</string>
	<key>/;o</key>
	<string>25</string>
	<key>/;d</key>
	<string>24</string>
	<key>/;-D</key>
	<string>23</string>
	<key>/;P</key>
	<string>22</string>
	<key>/:T</key>
	<string>21</string>
	<key>/:Q</key>
	<string>20</string>
	<key>/:lenhan</key>
	<string>19</string>
	<key>/:+</key>
	<string>18</string>
	<key>/:(</key>
	<string>17</string>
	<key>/&lt;rotate&gt;</key>
	<string>16</string>
	<key>/:O</key>
	<string>15</string>
	<key>/:D</key>
	<string>14</string>
	<key>/:P</key>
	<string>13</string>
	<key>/:@</key>
	<string>12</string>
	<key>/:-|</key>
	<string>11</string>
	<key>/:&apos;(</key>
	<string>10</string>
	<key>/:Z</key>
	<string>9</string>
	<key>/:X</key>
	<string>8</string>
	<key>/:$</key>
	<string>7</string>
	<key>/:&lt;</key>
	<string>6</string>
	<key>/8-)</key>
	<string>5</string>
	<key>/:|</key>
	<string>4</string>
	<key>/:*</key>
	<string>3</string>
	<key>/:~</key>
	<string>2</string>
	<key>/:)</key>
	<string>1</string>
</dict>
</plist>
